
.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
}

.flex-container>div {
    background-color: burlywood;
    margin: 15px;
    padding: 30px;
    font-size: 35px;
}